<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    
    <connectionStrings>
        <add name="ExamSystem.Properties.Settings.ExamConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Exam.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ExamSystem.Properties.Settings.adminViewScores" connectionString="Data Source=duho-pc;Initial Catalog=Exam;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ExamDbContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Exam.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.6.0.4" newVersion="12.6.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
